
$greenColor: rgba(17, 209, 69, 0.95);
$trueGreen : rgba(27, 179, 159, 1);
$greenLessColor : rgba(27, 179, 159, 0.1);
$orange : rgba(255, 127, 39, 0.95);
$yellow : rgba(255,202,24, 1);

body{
    background-color: $orange;
    padding: 1em;
}

.homePage{
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    text-align: center;
    
    h1 {
        font-size: 24px;
    }

}

.button {
    list-style: none;
    background-color: $greenColor;
    padding: 10px;
    border-radius: 5px;
    color: White;
    margin: 0.8em;
    border: none;
    cursor: pointer;        
    font-size: 19px;
    border: 1px solid rgb(0, 92, 25);
}
.buttonLink {
    list-style: none;
    background-color: $greenColor;
    padding: 10px;
    border-radius: 5px;
    color: White;
    margin: auto;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    letter-spacing: 0.80px;
    border: 1px solid rgb(0, 92, 25);
}
.titleGame{
    max-width: 350px;
    margin: auto;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.regle {
    font-size: 18px;
    line-height: 40px;
}


.orange{
    color: orange;
}
.vert{
    color: green;
}