
$greenColor: rgba(17, 209, 69, 0.95);
$trueGreen : rgba(27, 179, 159, 1);
$greenLessColor : rgba(27, 179, 159, 0.1);
$orange : rgba(255, 127, 39, 0.95);
$yellow : rgba(255,202,24, 1);

.inputContainer
{
    input {
        height: 25px;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
        max-width: 100px;
        letter-spacing: 2px;
        margin-bottom: 1em;
    }
}

.arrayContainer{

    margin-top: 2em;

    .colonne{
        display: flex;
        justify-content: center;
    }
    
    .square{
        width: 30px;
        height: 30px;
        border: solid 1px black;
    }

}

.code{
    letter-spacing: 1.5px;
    color: $orange;
}

